<div id="<%= dom_id lesson %>">

  <div>
    <strong>Unit:</strong>
    <%= lesson.unit_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= lesson.name %>
  </div>

  <div>
    <strong>Filename:</strong>
    <%= lesson.filename %>
  </div>

</div>
