<turbo-stream action="replace" target="video-player-container">
  <template>
    <% if @lesson.filename.present? %>
      <video id="player" 
             src="<%= video_lesson_path(@lesson) %>" 
             class="c-player-iframe h-auto w-full flex-1 aspect-video bg-black" 
             controls 
             preload="metadata" 
             controlslist="nodownload"
             crossorigin="anonymous"
             playsinline></video>
    <% else %>
      <div class="flex items-center justify-center h-full text-white">
        <p>No video available for this lesson</p>
      </div>
    <% end %>
  </template>
</turbo-stream>
