<div class="my-3">
  <%= render 'shared/components/page_title', title: "Todos os cursos" %>
</div>

<div id="courses" class="mb-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
  <% @courses.each do |course| %>
    <%= render course %>
  <% end %>

  <% if @courses.empty? %>
    Nenhum curso carregado
  <% end %>
</div>
