<p style="color: green"><%= notice %></p>

<% content_for :title, "Units" %>

<h1>Units</h1>

<div id="units">
  <% @units.each do |unit| %>
    <%= render unit %>
    <p>
      <% if unit.lessons.any? %>
        <%= link_to "Start unit", [@course, unit, unit.lessons.order(:created_at).first] %>
      <% else %>
        <span class="text-muted">No lessons available</span>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New unit", new_course_unit_path(@course) %>
