@import "tailwindcss";

@plugin "daisyui" {
  themes: winter --default
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (width >=theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }
}