<%
    case local_assigns[:type]
    when "error"
      alert_class = "alert-error"
      icon_class = "ti-alert-circle"
    when "warning"
      alert_class = "alert-warning"
      icon_class = "ti-alert-triangle"
    when "success"
      alert_class = "alert-success"
      icon_class = "ti-check-circle"
    else
      alert_class = "alert-info"
      icon_class = "ti-info-circle"
    end
%>
<div role="alert" class="my-1 alert <%= alert_class %>">
  <i class="ti <%= icon_class %>"></i>
  <span><%= message %></span>
</div>
